<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/home">PLATFORM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="logo" src="Capture.JPG" href="/home"></img>
  <nav class="NavContainer">
    <a class="nav-item nav-link" href="/home">Home</a>
    <a class="nav-item nav-link" href="/home/my_items">MY ITEMS</a>
    <a class="nav-item nav-link" href="/home/saved_posts">SAVED POSTS</a>
  </nav>
    <!-- <div>
      <a class ="btn btn-primary" href="/login" >Login</a>
      <a class ="btn btn-primary" href="/register">Register</a>
    </div> -->

     <% if(user){ %>
      <%=  `Logged in As: ` + user %>
    <form action="/logout" method="POST">
     <button type="submit" class="btn btn-dark btn-sm">Sign-Out</button>
    </form>
    <% } else { %>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>
    <% } %>

  </nav>
</header>
