<header>
    <img class="logo" src="images/Capture.JPG" href="/home"></img>
  <nav class="NavContainer">
    <a class="nav-item nav-link" href="/home">Home</a>
    <a class="nav-item nav-link" href="/home/my_items">MY ITEMS</a>
    <a class="nav-item nav-link" href="/home/saved_posts">SAVED POSTS</a>
  </nav>
</header>
