<!DOCTYPE html>
<html lang="en">

<head>
  <title>Message</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=10">

  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/myItems.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!------------------------SOCKET IO----------------------------->
  <script src="/socket.io/socket.io.js"></script>
  <script src = "https://cdn.socket.io/socket.io-3.0.0.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script> let socket = io(); </script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

</head>
<%- include('partials/_header') %>

<body>
  <div id = "messageContainer">
  <script> window.author = "<%= user.name %>" </script>
  <header class="header">
  </header>
  <div class="chat-container">
    <div class="chat-header">
      <div class="logo">
        <i class="fab fa-rocketchat fa-2x"></i>
        <h3 class="communityChat"> Community Chat </h3>
      </div>
      <p id="your-name"> Your name: <%= user.name %> </p>
    </div>

    <!------------------------------CHAT BOXES------------------------------->
    <div class="chat-section">
      <div class="main-wrapper">
        <div class="chat-content">
          <div class="message">
          </div>
        </div>

        <!---------------------------MESSAGE BOX----------------------------------->
        <form class="msg-text">
          <input type="text" name="msg" id="msg" placeholder="Type a message here..." autocomplete="off">
          <button id="btn-send">
            <i class="fas fa-car-side"> Send </i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!------------------------------FOOTER----------------------------->
</div>
</body>
<footer class="footer">
  <%- include('partials/_footer') %>
</footer>
</html>
