.test {
  background-color: #976433;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}


.addPost {
  display:grid;
}

.addPostContent {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}



.myItemsButtons {
  display:flex;
  flex-direction: row-reverse;
}

#textbox {
  padding-bottom: 10px;
  background-color: beige;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  justify-self: center;
}


#removeButton {
  display: block;
  font-size: 10px;
  width: fit-content;
  margin-right: 3px;
}
#favouriteButton {
  display: block;
  font-size: 10px;
  width: fit-content;
  margin-right: 3px;
}

#messageButton {
  display: block;
  font-size: 10px;
  width: fit-content;
  margin-right: 3px;
}

#editButton {
  display: block;
  font-size: 10px;
  width: fit-content;
  margin-right: 3px;

}
#markAsSold {
  display: block;
  font-size: 10px;
  width: fit-content;
  margin-right: 3px;
}
.postInfo {
      flex-direction: column;
      display: flex;
      align-items: center;
}
#postImg {
  display: flex;
  flex-direction: row-reverse;
  max-width: 200px;
}

#postDescription {
  display: flex;
  flex-direction: row-reverse;
  font-size: small;
  font-style: italic;
}
#postTitle {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10px;
  font-size: large;
}

.textInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  justify-content: center;
}

.columnName {
  margin-right: 17px;
  display: flex;
  width: 110%;
  justify-content: space-between;
}

.soldItems {
  display: flex;
    flex-direction: column;
    align-items: center;
}

#favouritesTextUnderline {
  font-size: xxx-large;
    text-decoration: underline;
}